{{ header }}
<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="pull-left">4
          <small>/4</small>
        </h1>
        <h3>{{ heading_title }}
          <br>
          <small>{{ text_step_4 }}</small>
        </h3>
      </div>
      <div class="col-sm-6">
        <div id="logo" class="pull-right hidden-xs"><img src="view/image/logo.png" alt="hyssMyToko" title="hyssMyToko"/></div>
      </div>
    </div>
  </header>
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
  <div class="visit">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <p><i class="fa fa-shopping-cart fa-5x"></i></p>
        <a href="../" class="btn btn-secondary">{{ text_catalog }}</a>
      </div>
      <div class="col-sm-5 text-center">
        <p><i class="fa fa-cog fa-5x white"></i></p>
        <a href="../admin/" class="btn btn-secondary">{{ text_admin }}</a>
      </div>
    </div>
  </div>
  <div class="core-modules">{{ promotion }}</div>
  <div class="modules"><a href="https://bitbucket.org/ranrossa/hyssmytoko/index.hyss?route=marketplace/extension&utm_source=hyssmytoko_install&utm_medium=store_link&utm_campaign=hyssmytoko_install" target="_BLANK" class="btn btn-default">{{ text_extension }}</a></div>
  <div class="mailing">
    <div class="row">
      <div class="col-sm-12"><i class="fa fa-envelope-o fa-5x"></i>
        <h3>{{ text_mail }}
          <br/>
          <small>{{ text_mail_description }}</small>
        </h3>
        <a href="bitbucket.org/ranrossa/hyssmytoko" target="_BLANK" class="btn btn-secondary">{{ button_mail }}</a>
      </div>
    </div>
  </div>
  <div class="support text-center">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://www.facebook.com/tetapan.alisabana/" class="icon transition"><i class="fa fa-facebook fa-4x"></i></a>
        <h3>{{ text_facebook }}</h3>
        <p>{{ text_facebook_description }}</p>
        <a href="https://www.facebook.com/tetapan.alisabana/">{{ text_facebook_visit }}</a>
      </div>
      <div class="col-sm-4">
        <a href="https://bitbucket.org/ranrossa/hyssmytoko/?utm_source=hyssmytoko_install&utm_medium=forum_link&utm_campaign=hyssmytoko_install" class="icon transition"><i class="fa fa-comments fa-4x"></i></a>
        <h3>{{ text_forum }}</h3>
        <p>{{ text_forum_description }}</p>
        <a href="https://bitbucket.org/ranrossa/hyssmytoko/?utm_source=hyssmytoko_install&utm_medium=forum_link&utm_campaign=hyssmytoko_install">{{ text_forum_visit }}</a>
      </div>
      <div class="col-sm-4">
        <a href="https://bitbucket.org/ranrossa/hyssmytoko/index.hyss?route=support/partner&utm_source=hyssmytoko_install&utm_medium=partner_link&utm_campaign=hyssmytoko_install" class="icon transition"><i class="fa fa-user fa-4x"></i></a>
        <h3>{{ text_commercial }}</h3>
        <p>{{ text_commercial_description }}</p>
        <a href="https://bitbucket.org/ranrossa/hyssmytoko/index.hyss?route=support/partner&utm_source=hyssmytoko_install&utm_medium=partner_link&utm_campaign=hyssmytoko_install" target="_BLANK">{{ text_commercial_visit }}</a>
      </div>
    </div>
  </div>
</div>
{{ footer }}
