{{ header }}
<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="pull-left">1<small>/4</small></h1>
        <h3>{{ heading_title }}<br>
          <small>{{ text_step_1 }}</small></h3>
      </div>
      <div class="col-sm-6">
        <div id="logo" class="pull-right hidden-xs"><img src="view/image/logo.png" alt="hyssMyToko" title="hyssMyToko" /></div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-9">
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="terms">{{ text_terms }}</div>
        <div class="buttons">
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">{{ column_left }}</div>
  </div>
</div>
{{ footer }}