<footer>
  <div class="container">
    <a href="https://bitbucket.org/ranrossa/hyssmytoko/" target="_blank">{{ text_project }}</a>|<a href="https://bitbucket.org/ranrossa/hyssmytoko/" target="_blank">{{ text_documentation }}</a>|<a href="https://bitbucket.org/ranrossa/hyssmytoko/" target="_blank">{{ text_support }}</a><br />
  </div>
</footer>
</body></html>
